MT5_LOGIN=''        #YOUR LOGIN FROM MT5 ACCOUNT
MT5_PASSWORD=''     #YOUR PASSWORD FROM MT5 ACCOUNT 


MT5_SERVER='Weltrade-Demo'
MT5_PATH='C:/MT5 Weltrade/terminal64.exe'

#prod MT5_PATH='C:\Program Files\MT5 Weltrade\terminal64.exe'   #could also be this path, but for production normal path is C:/MT5 Weltrade/terminal64.exe



SUPABASE_URL='https://vzwzlldrnpuhijtxcoyk.supabase.co'
SUPABASE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ6d3psbGRybnB1aGlqdHhjb3lrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQyMDEzNTQsImV4cCI6MjA3OTc3NzM1NH0.O4f9jP579Ul4h4piTEMFj4w4IZdQapAlDeley9SjEls'


MT5_COMMON_FILES='%APPDATA%\MetaQuotes\Terminal\Common\Files'
#or C:\Users\%USERNAME%\AppData\Roaming\MetaQuotes\Terminal\Common\Files