.env
.venv/
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Database files
*.db
db/

# Logs
*.log
logs/
**/logs/

#Agent folder
.agent/
.freebuff/*
.DS_Store

# Per-user generated config files (written by ConfigManager at runtime)
config_*.json

personal/*
# Ignore all files in the personal folder except for the README.md file

sync_log.txt